body {
    background-color: #F5F2E8;
}

h1 {
  font-family: "Chela One", system-ui;
  font-weight: 400;
  font-style: normal;  
}

h2 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;  
}

h3 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;    
}

h4 {
    font-family: "Handlee", cursive;
}

h5 {
    font-family: "Handlee", cursive;
}

h6 {
    font-family: "Handlee", cursive;
}

p {
    font-family: "Handlee", cursive;
}

span {
    font-family: "Handlee", cursive;
}

ul {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-size: large;
    font-style: normal;
    list-style: none;
}

.editor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    gap: 10px;
}

.note {
    grid-column: span 2;
    grid-row: span 2;
    margin-top: 50px;
}

.toc-team {
    grid-row: span 2;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 190vh;
    gap: 20px;
}

.shoutouts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 80vh;
    gap: 10px;
}

.tidbits {
    grid-column: span 3;
}

.awards-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 150vh;
    gap: 10px;
}

.awards {
    grid-column: span 3;
}

.awards-cont {
    grid-column: span 4;
}

.spin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 220vh;
    gap: 10px;
}

.subgroups {
    grid-column: span 4;
}

.bawala {
    grid-column: span 2;
}

.invest-tour {
    grid-column: span 2;
}

.katale {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 160vh;
    gap: 10px;
}

.news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 130vh;
    gap: 10px;
}

.bonus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 140vh;
    gap: 10px;
}

.recipe {
    grid-column: span 3;
}

.golf {
    grid-column: span 3;
}

@media (min-width: 576px) {
    .container {
        margin-bottom: 10px;
      }
    }
