{% extends "layout.html" %}
{% block title %}donate{% endblock %}

{% block content%}
    <div class="container awards-main">
        <div class="col-md-12"> 
            <div class="h-100 px-5 text-bg-secondary rounded-3"> 
                <h2>'80-86 Annual awards 2025</h2> 
                <p class="lead" style="text-align: justify;">It’s been a long year and together we have laughed, cried, prayed and everything in-between. Thank you all for being you and for enriching this wonderful family.</p> 
                <p class="lead" style="text-align: justify;">The awards are somewhat predictable, but I believe accurate &#128521.</p>
                <p class="lead" style="text-align: justify;">Much love to you all!</p>                
                <h6 class="lead"><strong><em>Elizabeth Nsereko Hunt</em></strong></h6> 
            </div> 
        </div>
        <div class="awards px-2 py-1" id="icon-grid">              
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-1"> 
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Humor award</h3> 
                        <p class="lead">Robert K, Jaakob Tamale, Tamale aka Taskforce, Mark B, Nathan, Lilian effortlessly keep us all laughing.</p> 
                    </div> 
                </div> 
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#cpu-fill"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Best Gifs award</h3> 
                        <p class="lead">For those that respond with Gifs that speak louder than words: Ismail, Norah & BobLee</p> 
                    </div> 
                </div> 
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#calendar3"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Unsolicited Advice award</h3> 
                        <p class="lead">Whether requested or not (but mostly funny) award- Brian & Ismail</p> 
                    </div> 
                </div> 
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#home"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Cheerleader award</h3> 
                        <p class="lead">For the group’s ultimate motivator – Lilian & Carol</p> 
                    </div> 
                </div>                 
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#toggles2"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Violence award</h3> 
                        <p class="lead">Specialists in Chaos, King and Queen of violence – Robert Koma & the one and only Barbara aka Barbzy for 2 years running, if I might add</p> 
                    </div> 
                </div> 
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#geo-fill"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Fashion/Drip squad award</h3> 
                        <p class="lead"> For consistently serving looks – Paula, Martha Kaganzi, Anita & Dorothy</p> 
                    </div> 
                </div> 
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#tools"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Mind & Mystery award</h3> 
                        <p class="lead">Confuses and inspires - The Next Chapter members</p> 
                    </div> 
                </div> 
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#speedometer2"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Most random posts award</h3> 
                        <p class="lead">Petero aka Peter of Dortmund</p> 
                    </div> 
                </div> 
            </div> 
        </div>
        <div class="awards-cont px-2 py-1" id="icon-grid"> 
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-1"> 
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#calendar3"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Consistently showing up award</h3> 
                        <p class="lead">Deborah Natabo, Martha Ngabirano, Annette K, Carol, Patricia, always at every meeting, call, plan; Keep up the fantastic spirit</p> 
                    </div> 
                </div>
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Ministry of enjoyment</h3> 
                        <p class="lead">Self-appointed Permanent Secretary and <strong><em>CFO (Chief Fun Officer)</em></strong>– Liz (and modest too); more members required so please enquire at the Ministry HQ.</p> 
                    </div> 
                </div> 
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#cpu-fill"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Local Energy providers / Daily motivations</h3> 
                        <p class="lead">For the Prayers and general uplifting: Norah, Barbara, Wendy & Anthony</p> 
                    </div> 
                </div> 
                 
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#home"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Most recent additions to the family award</h3> 
                        <p class="lead">Matsiko Kabumba, reminding us that the mission / family keeps growing</p> 
                    </div> 
                </div> 
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#geo-fill"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Occasional / Peeper’s award aka Seasonal spices</h3> 
                        <p class="lead">George, Ronnie, Derek, Sam, Roy, Bob Lee, Milton, Benjamin & Charlie; Not always around but when you are, it’s noticed & impactful.</p> 
                    </div> 
                </div>
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#speedometer2"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Team support & background heroes</h3> 
                        <p class="lead">Chief treasurer – Anita, Chief organiser and mastermind behind most plans – Nathan, Martha N</p> 
                    </div> 
                </div> 
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#toggles2"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Chief Carer / silent guardians award</h3> 
                        <p class="lead">For checking on everyone, remembering small things, and noticing when anyone needs support - Norah, Jessica, Carol</p> 
                    </div> 
                </div>                  
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#tools"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">The Specials award</h3> 
                        <p class="lead">For constant laughs and banter - Sam Serunjoji, Derek Miro</p> 
                    </div> 
                </div>
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#home"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Silent community / Background movers award </h3> 
                        <p class="lead">Formerly known as the Kamolists - The largest group award. You’re there behind the scenes and enabling things to happen and truth be told, this group would not have achieved all we have without you, so thank you.</p> 
                    </div> 
                </div>
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">MIA Award</h3> 
                        <p class="lead">Mostly absent / off the radar but drop in and drop mikes-Janet, Paul & Titus</p> 
                    </div> 
                </div> 
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#cpu-fill"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Chief hugger award</h3> 
                        <p class="lead">Up for grabs as not utilised this year, Mark is sleeping on the job.</p> 
                    </div> 
                </div> 
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#calendar3"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Crazy voice notes award</h3> 
                        <p class="lead">The one and only Janet- Legendary, Hilarious, Dramatic & entertaining</p> 
                    </div> 
                </div>                 
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Tactical leadership award</h3> 
                        <p class="lead">Carol & Nathan, thanks for all the background work.</p> 
                    </div> 
                </div> 
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#cpu-fill"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Light up the room</h3> 
                        <p class="lead">Annette, Koma, Barbara, Titus & Eva (beautiful cards).</p> 
                    </div> 
                </div> 
                <div class="col d-flex align-items-start"> 
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" aria-hidden="true"><use xlink:href="#calendar3"></use></svg> 
                    <div> 
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">What's missing?</h3> 
                        <p class="lead">Friday selfies, lunch time tunes & dedica, book(gin) club shenanigans. Let's bring these back in 2026.</p> 
                    </div> 
                </div>
            </div>       
        </div>        
    </div>
{% endblock %}
