{% extends "layout.html" %}
{% block title %}shoutouts{% endblock %}

{% block content%}
    <div class="container shoutouts">        
        <div class="tidbits row align-items-md-stretch"> 
            <div class="col-md-4"> 
                <div class="h-100 px-4 text-bg-secondary rounded-3"> 
                    <h2 class="lead">🫅Volunteer Leadership</h2> 
                    <p class="lead">Those who always step up without being asked, organize events, keep the WhatsApp group alive, handle logistics, or simply check in with others.</p>
                    <p class="lead">We thank you for your quiet hands and big hearts, and may we also get the conviction to serve wherever we can.</p>                     
                </div> 
            </div> 
            <div class="col-md-4"> 
                <div class="h-100 px-4 bg-body-tertiary border rounded-3"> 
                    <h2 class="lead">🤣The Class Clowns</h2> 
                    <p class="lead">Our dear clowns, the WhatsApp group has become your new stage, and your jokes, one-liners and witty comebacks keep us laughing and give us something to look forward to everyday.</p> 
                    <p class="lead">You remind us that laughter remains timeless, and maybe the best anti-aging secret of all...</p>                    
                </div> 
            </div>
            <div class="col-md-4"> 
                <div class="h-100 px-4 bg-body-tertiary border rounded-3"> 
                    <h2 class="lead">Peer pressure</h2> 
                    <p class="lead">At 50, peer pressure takes on a whole new definition. 
                    <p class="lead">Gone are the days of being dared to climb the tallest tree or sneak an extra plate of rice and beans at lunch.</p>
                    <p class="lead">Now, the pressure is gentler — to enjoy life, love deeply, and laugh often...</p>                     
                </div> 
            </div> 
        </div>                       
        <div class="col-md-12"> 
            <div class="h-100 px-5 text-bg-secondary rounded-3"> 
                <h2 class="lead">The Feels</h2> 
                <p class="lead">KPS 80-86 has been the highlight of my life for the last 2 years; after 35 years we connected across different continents and time zones, unbelievable!</p> 
                <p class="lead">Chatterboxes, kamoolists, the passively present, the comedians; we are a healthy mix. We started on a high, with monthly meet-ups to cut cake as we celebrate birthdays, whatever happened?</p>                
            </div> 
        </div>
        <div class="col-md-12"> 
            <div class="h-100 px-5 text-bg-light rounded-3"> 
                <h2 class="lead">The Feels cont...</h2>                 
                <p class="lead">The year is coming to an end, let us reflect on bonds we have formed and anticipate more participation in our group activities.</p>
                <p class="lead">Oh come, come, come! Let’s promote the school by the roadside with funds and our time because it is the best in the world.</p>
                <h6 class="lead"><strong><em>Lillian Ddungu Hamstard</em></strong></h6> 
            </div> 
        </div>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"> 
            <div class="col p-4 d-flex flex-column position-static">                  
                <h3 class="lead mb-0">Visionary</h3> 
                <p class="lead card-text mb-auto">Jessica, you singlehandedly compiled the first edition, in words and pictures, and reminded us of the joy of reconnection, during that first year!</p>                  
            </div> 
            <div class="col-auto d-none d-lg-block">                     
                <img src="{{ url_for('static', filename='assets/jessica.jpeg') }}" class="img-fluid rounded-start" width="200" height="200" alt="Jessica">          
            </div> 
        </div>        
    </div>   
{% endblock %}
