{% extends "layout.html" %}
{% block title %}SpinOffs{% endblock %}

{% block content%}
    <div class="container spin">
        <div class="subgroups px-1 text-center" style="background-color: white;">         
            <h2 class="display-5 fw-bold text-body-emphasis my-3">SpinOffs</h2> 
            <div class="col-lg-10 mx-auto"> 
                <p class="lead mb-2">There are various sub-groups that have been formed as the KPS '80-86 community members have sought to collate around their shared passions and interests, as we continue on this journey of reconnection. Take a moment and learn more about each of the groups and consider joining one, or even spearheading the formation of a new one.</p>             
            </div>                          
        </div>
        <div class="col-md-12"> 
            <div class="h-100 p-5 text-bg-secondary rounded-3" style="text-align: justify;"> 
                <h3 class="lead fs-3">"The Next Chapter"</h3> 
                <p class="lead">The Book Club has been such an incentive to read more books, This is the first time for some of us to join a book club and so far, so good.</p> 
                <p class="lead">Dramas, Thrillers, Self-help and hold your breath and squeeze the edge of your seat books are endless.</p> 
                <p class="lead">The highlight is on Friday when Calvin features, a crazy boy with an adult complex, his tantrums are out of this world.</p>                 
                <h5 class="lead fw-bold"><em>by Lillian Hamstard </em></h5>
            </div> 
        </div>  
        <article class="invest-tour px-2 lead blog-post" style="text-align: justify;"> 
            <h3 class="lead display-5 link-body-emphasis mb-1">'80–86 Alumni Investment Club</h3> 
            <h6 class="lead fw-bold blog-post-meta"> by Nathan Wasolo</h6> 
            <p class="lead">This group was formed to encourage classmates who shared a formative part of their lives, to build financial strength by pooling resources and investing as a united front.</p>  
            <p class="lead">The club has established interim leadership, opened a bank account and a unit trust account, and agreed on a disciplined one-year saving period before moving into more ambitious investments.</p> 
            <p class="lead">We encourage everyone to join by expressing interest on the WhatsApp group and be a part of this journey.</p>
        </article> 
        <div class="col-md-12"> 
            <div class="h-100 p-4 bg-body-tertiary border rounded-3"> 
                <h3 class="lead fs-3">'80–86 Tours</h3>                     
                <p class="lead mb-2" style="text-align: justify;">This group was started to take the vibrant spirit and camaraderie of our community up a notch through refreshing, meaningful outdoor excursions exploring Uganda’s extraordinary beauty. </p>
                <p class="lead mb-0" style="text-align: justify;">Wanale Ridge, Sipi Falls, the lush Mabira Forest—stand out as ideal for short excursions. Mount Elgon and Rwenzururu ranges would require preparation and teamwork.<p>                       
                <p class="lead mb-2" style="text-align: justify;">A tradition of regular outings would keep KPS '80–86 alumni spirit alive, so let the journey begin!</p>
                <h5 class="mb-0 lead fw-bold"><em>by Nathan Wasolo</em></h5>                  
            </div> 
        </div>
        <div class="invest-tour row align-items-md-stretch">               
            <div class="col-md-12"> 
                <div class="h-100 p-5 text-bg-secondary rounded-3"> 
                    <h3 class="display-5">'80–86 Alumni Business Network</h3>                     
                    <p class ="lead mb-2" style="text-align: justify;">This group was created to give members a space to exchange ideas on topical economic, entrepreneurial, and investment issues.</p>                                      
                    <p class ="lead mb-2" style="text-align: justify;">The impact of the group is already significant, as the consistent dialogue about wealth creation and financial growth was the breeding ground for the formation of an investment club.</p>
                    <p class="lead mb-2" style="text-align: justify;">The group continues to take shape as alumni bonds are strengthened through sharing insights, learning from one another’s experiences, and teasing possible collaboration opportunities.</p>
                    <h5 class="lead fw-bold"><em>by Nathan Wasolo</em></h5>                  
                </div> 
            </div> 
        </div>        
        <div class="bawala p-3 mb-0 bg-body-tertiary rounded-3"> 
            <div class="container-fluid py-2"> 
                <h3 class="display-5">'80-86 Ladies</h3> 
                <p class="lead col-md-12" style="text-align: justify;"><strong><em>Reunited, revived… and occasionally hot-flushed!</em></strong> It started with Mummy Norah’s “Banange, let’s have our own group - just the ladies!” And just like that, the spin-off was born. This lively bunch of 50+ women is juggling work, relationships, grown children, and hot flashes that could start a small fire. Once in a while we get cheeky, share heartfelt rants, wellness tips and parenting hacks, and swap hilarious adulting stories. </p>
                <p class="lead col-md-12" style="text-align: justify;"> This lively bunch of 50+ women is juggling work, relationships, grown children, and hot flashes that could start a small fire. Once in a while we get cheeky, share heartfelt rants, wellness tips and parenting hacks, and swap hilarious adulting stories. </p>          
            </div>                         
        </div>
        <div class="bawala">
            <img src="{{ url_for('static', filename='assets/ladieshangout.png') }}" class="img-fluid rounded-start" height="800" alt="ladiesdayout">            
        </div> 
        <div class="bawala p-3 mb-0 bg-body-tertiary rounded-3"> 
            <div class="container-fluid py-2"> 
                <h3 class="display-5">'80-86 Ladies cont...</h3>
                <p class="lead col-md-12" style="text-align: justify;">And then there are the moments when we get raw. Suddenly, the polite pleasantries vanish, replaced by frustration and pain… and just like that, the chat transforms into a therapy session and a safe space all at once.</p>                 
                <p class="lead col-md-12" style="text-align: justify;">The Ladies "Brunch" on 31 May 2025, hosted by our lovely headgirl, was well-attended . Amid elegant sips and tiny bites, the conversation got progressively unfiltered, the laughter long and loud… Through this bond we remind ourselves that true sisterhood doesn’t age - it just gets louder, hotter, and a little more honest.</p>
                <h5 class="lead fw-bold"><em>by Carol Kibukamusoke</em></h5>  
            </div>
        </div>
            
         
        
    </div>    
{% endblock %}
